HELP.md
.gradle
build/
.DS_Store
snyk

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
bin/
.VSCodeCounter/

### logs ###
logs/
*.log

### jvm ###
*.hprof